body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    background-image: url('../img/bg_sky3.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

#title {
    color: white;
    font-family: 'Neuton', serif;
    font-size: 2.5em;
    text-align: center;
    text-shadow: #005064 1px 2px;
}

h1 {
    text-align: center;
    font-size: 200%;
    color: white;
}

#web_site_description,
h2 {
    text-align: center;
    font-size: 1.7em;
    color: white;
}

/* Cadre de recherche */
#search_framework {
    background-color: rgba(0, 30, 39, 0.3);
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    padding-bottom: 15px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

@media (min-width: 1025px) {
    #search_framework {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #search_framework {
        width: 70%;
    }
}

@media (max-width: 767px) {
    #search_framework {
        width: 90%;
    }
}


/* Conteneur pour le label et l'input */
#input-group {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}

#drop_down_list {
    margin-bottom: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#label_style {
    color: white;
    font-size: 15px;
    flex-shrink: 0;
    margin-right: 1%;
    margin-bottom: 10px;
}

/* Entrée du code postal */
#postal_code {
    width: fit-content;
    box-sizing: border-box;
    padding: 6px;
    font-size: 15px;
    text-align: center;
    margin-top: -10px;
    background-color: #03618d;
    color: white;
    border: solid white 4px;
    border-radius: 20px;
}

#city_select {
    width: fit-content;
    box-sizing: border-box;
    padding: 6px;
    font-size: 15px;
    margin-top: -10px;
    color:rgb(9, 135, 214);
    background-color: #03618d;
    color: white;
    border: solid white 4px;
    border-radius: 20px;
    cursor : pointer;
}

#searchBtn {
    background-color: grey;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: not-allowed;
    transition: all 0.4s;
    border: solid white 4px;
    border-radius: 20px;
}

#dropDownCardChild {
    background-color: rgba(0, 30, 39, 0.3);
    width: fit-content;
    max-width: 77%;
    height: fit-content;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

span {
    margin-left: 10px;
    color: #999;
    font-weight: 300;
    font-size: 0.9em;
}

h3 {
    float: left;
    color: #777;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

#errorWarning {
    color: red;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: none;
    opacity: 0;
    
}


@keyframes moveAndGrow {
    0% {
        transform: translateY(0px);
        transform: scale(1);
    }

    50% {
        transform: translateY(2px);
        transform: scale(1.1);
    }

    100% {
        transform: translateY(0);
        transform: scale(1);
    }
}

#p_error {
    margin-top: 0;
    animation: moveAndGrow 2s ease-in-out infinite;
}